:root{
    --neon: #92FF47;
    --gray: #191919;
    --light-gray: #8e8e8e;
}
.green{
    color: var(--neon);
}

body{
    background-color: black;
    color: white;
}

.section-title{
    border-bottom: 4px solid var(--neon);
    width: auto;
}

#header{
    background-color: black;
}
#home{
    background-image: url(./assets/banner.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
#home h2{
    font-weight: lighter;
    text-shadow: 0px 0px 3px #ccc;
    font-size: 450%;
}
#home h4{
    color: var(--neon);
    font-size: 190%;
}
#home img{
    width: 60%;
    border-radius: 50%;
}
.home_perfil_description{
    margin-top: 20vh;
}

#about img{
    width: 50%;
    border-radius: 50%;
}
#about .myDescription,
.skill-description{
    line-height: 160%;
    font-size: 150%;
    font-weight: 100;
}

.skill-card{
    min-width: 340px;
    max-width: 25%;
    border-radius: 5%;
    background-color: var(--gray);
    color: var(--light-gray);
    transition: all 300ms;
}
.skill-card:hover{
    color: white;
    transform: scale(1.1,1.1);
}

.skill-icon{
    font-size: 700%;
}